.products {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 0;
  justify-content: center;
}

@media (max-width: 1000px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }
}